@use "./t.css";

// @font-face {
//   font-family: "Sour Gummy";
//   src: url("/fonts/Sour_Gummy/SourGummy-Italic-VariableFont_wdth,wght.ttf")
//     format("truetype");
//   font-weight: 100 900;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Sour Gummy";
//   src: url("/fonts/Sour_Gummy/SourGummy-VariableFont_wdth,wght.ttf")
//     format("truetype");
//   font-weight: 100 900;
//   font-style: normal;
// }

//  {
//   font-family: "Sour Gummy", sans-serif;
// }

:root {
  --green_app: #03a8a0;

  --green_0: #d8e1de;
  --green_1: #bcd9d1;
  --green_2: #97bdb8;
  --green_3: #36695f;
  --green_4: #143b37;

  --white_0: #ffffff;
  --white_1: #f6f6f6;
}
