@use "./t.css";

@use "sass:list";

@use "./tokens/txt.scss";
@use "./tokens/space.scss";
@use "./tokens/clrs.scss";

// @font-face {
//   font-family: "Sour Gummy";
//   src: url("/fonts/Sour_Gummy/SourGummy-Italic-VariableFont_wdth,wght.ttf")
//     format("truetype");
//   font-weight: 100 900;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Sour Gummy";
//   src: url("/fonts/Sour_Gummy/SourGummy-VariableFont_wdth,wght.ttf")
//     format("truetype");
//   font-weight: 100 900;
//   font-style: normal;
// }

//  {
//   font-family: "Sour Gummy", sans-serif;
// }

$green-colors: (#d8e1de, #bcd9d1, #97bdb8, #36695f, #143b37);
$white-colors: (#ffffff, #f6f6f6);

:root {
  --green_app: #03a8a0;

  @for $i from 1 through list.length($green-colors) {
    $val: list.nth($green-colors, $i);
    --green_#{($i - 1)}: #{$val};
  }

  @for $i from 1 through list.length($white-colors) {
    $val: list.nth($white-colors, $i);
    --white_#{($i - 1)}: #{$val};
  }
}
