$sizes: (
  h: (
    xs: 15px,
    sm: 18px,
    md: 20px,
    lg: 32px,
    xl: 40px,
    2xl: 48px,
    3xl: 56px,
  ),
  btn: (
    sm: 20px,
    md: 26px,
    lg: 32px,
  ),
);

:root {
  @each $type, $map in $sizes {
    @each $name, $value in $map {
      --#{$type}__#{$name}: #{$value};
    }
  }
}

@each $type, $map in $sizes {
  @each $name, $value in $map {
    .txt_#{$type}__#{$name} {
      font-size: var(--#{$type}__#{$name});
      line-height: 125%;
      letter-spacing: 0;
      font-weight: 700;
    }
  }
}
